div{background: none;}
.query_wrap {
    width: 100%;
    padding: .5rem;
    background: none;
}
.query_wrap .search_box {
    width: 100%;
    background: #c0d7ff url(../images/bottomBg.png) no-repeat left bottom;
    background-size: 100% auto;
    padding: 1rem .8rem 2rem .8rem;
    border-radius: .2rem;
}
.query_wrap .search_box h2 {
    width: 88%;
    margin: 0 auto;
    position: relative;
    background: url(../images/titleBg.png) repeat-x left center;
    margin-bottom: .6rem;
}
.query_wrap .search_box h2 i {
    display: block;
    font-size: .7rem;
    color: #333;
    background: #c0d7ff;
    width: 5rem;
    text-align: center;
    margin: 0 auto;
}
.query_wrap .search_box input {
    width: 10rem;
    height: initial;
    margin: 0;
    padding: .35rem .5rem;
    line-height: .8rem;
    border: 0;
}
.query_wrap .search_box .code {
    display: block;
    float: right;
    width: 1.55rem;
    height: 1.55rem;
    background: #fff url(../images/shaoyishao.png) no-repeat center;
    border-radius: .3rem;
    background-size: 80% auto;
}
.searchInput{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.clearboth:after {
    display: block;
    clear: both;
    content: "";
    overflow: hidden;
    height: 0;
}
.query_wrap .search_box .searchBtn {
    display: block;
    width: 100%;
    color: #fff;
    background: #0090ff;
    line-height: 1.5rem;
    text-align: center;
    border-radius: .2rem;
    margin-top: .8rem;
}
.query_wrap .menuBox {
    width: 100%;
    background: #fff;
    border-radius: .2rem;
    margin-top: .5rem;
    padding: 1rem;
    position: relative;
}
.query_wrap .menuBox a:nth-child(1), .query_wrap .menuBox a:nth-child(2), .query_wrap .menuBox a:nth-child(3) {
    border-bottom: 1px solid #f1f1f1;
}
.query_wrap .menuBox a:nth-child(1) {
    background: url(../images/home/menu1.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(2) {
    background: url(../images/home/menu2.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(3) {
    background: url(../images/home/menu3.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(4) {
    background: url(../images/home/menu4.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(5) {
    background: url(../images/home/menu5.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(6) {
    background: url(../images/home/menu6.png) no-repeat center .65rem;
    background-size: auto 35%;
}
.query_wrap .menuBox a:nth-child(3n) {
    border-right: none;
}
.query_wrap .menuBox a {
    display: block;
    float: left;
    width: calc(100%/3);
    color: #555;
    text-align: center;
    font-size: .6rem;
    padding: 2rem 0 .65rem 0;
    border-right: 1px solid #f1f1f1;
}
.query_wrap .menuBox span {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    top: 3.75rem;
    background: #fff;
    left: 4.7rem;
}
.query_wrap .menuBox span:last-child {
    right: 4.8rem;
    left: initial;
}
.query_wrap .swiper-container {
    width: 100%;
    height: 5rem;
}
.query_wrap .advert {
    display: block;
    width: 100%;
    margin-top: 2.5rem;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
.xn_index_mba_1_wrap{position:relative; overflow:hidden; margin-bottom: 0.09375rem;}
.xn_index_mba_1_main{width:100%;margin:0 auto;overflow: hidden;}
.xn_index_mba_1_ul{overflow: hidden;position: relative;}
.xn_index_mba_1_li{float: left;background:#fff;margin: 0!important;}
.xn_index_mba_1_li img{width: 100%; background-color:#fff; }
.xn_index_mba_1_lights{width:100%;position:absolute; bottom:0.15625rem;text-align:center;background:none;}
.xn_index_mba_1_lights span{display:inline-block; height:0.25rem;width:0.25rem; background-color:#ccc; margin:0 0.078125rem;cursor: pointer; border-radius: 0.125rem;
    -webkit-border-radius: 0.125rem;
    -moz-border-radius: 0.125rem;
}
.xn_index_mba_1_lightsCurr{background:#fff !important;}
/* 历史记录 */
.history{
    position: absolute;
    top:1.6875rem;
    left:0;
    width:100%;
    height: 15.625rem;
    background-color: #fff;
    border: 0.0625rem solid #efefef;
    z-index: 999999;
    overflow-y: auto;
    padding: 0 0.625rem;
    color: #444;
    display: none;
}
.title_hi{
    padding: 0.375rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.history img{
    width: 1rem;
    height: 1rem;
}
.history .his_item{
    height: 1.1rem;
    width: 100%;
    color: #444;
    padding:0.125rem 0;
}
.cancel_hi{
    color: #fff;
    background-color: transparent;
    margin-left: 0.625rem;
    display: none;
}
.hidden{
    display: none;
}